body{
    overflow-x: hidden; 
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.principal-container{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav{
    position: fixed;
    width: 100vw;
}

nav button{
    margin: 10px;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
    text-align: center;
}

.carousel{
    height: 50%;
    width: 50%;
}

.subtitle{
    margin-top: 180px;
    border-top: 1px solid;
}

.piloto{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion{
    margin-top: 20px;
    width: 50%;
    margin-bottom: 20px;
}

.accordion button{
    width: 49%;
    height: 50px;
}